.comment-group-wrapper {
	.comment-wrapper {
		.comment-member-panel {
			.commenter-name {
			}
		}

		.comment-message-panel {
			.comment-footer {
				.comment-reply-container {
				}
			}
		}
	}
}

.comment-form-wrapper {
	.comment-textboxt-container {

	}
}